<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zky.eleadmin.mapper.BookCategoryMapper">

    <resultMap id="BaseResultMap" type="com.zky.eleadmin.domain.BookCategory">
            <id property="id" column="id" />
            <result property="workDirection" column="work_direction" />
            <result property="name" column="name" />
            <result property="sort" column="sort" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,work_direction,name,sort,create_time,update_time
    </sql>
</mapper>
